body {
  margin: 0;
  padding: 0;
  font-family:cursive;
  font-size: 15px;
  line-height: 19px;
  color: #0000000;
  background: #f8f8f8;
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-size:cover;
}
h1{
  font-size: 28px;
  line-height: 50px;
  display: table;
  margin: 0 auto 10px;
  font-weight:400;
}
h2{
  font-size: 30px;
  line-height: 30px;
  display: table;
  margin: 20px auto 10px;
  font-weight:200;
  background:cyan;
  border-radius:20px;
  padding:15px;
}
h3{
  font-size: 30px;
  line-height: 60px;
  display: table;
  margin: 0 auto 10px;
  font-weight:400;
  color:#86aaaa;
}
a{
  text-decoration:none;
}
p{
  font-size: 25px;
  line-height: 25px;
  display: table;
  margin: 0 auto 10px;
  color:#86aaaa;
}
ul{
  font-size: 25px;
  line-height: 36px;
  display: table;
}
.product{
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto 20px;
  border-radius: 16px;
  margin: 0 auto 20px;
}
.menu{
  margin-top:20px;
  text-align:right;
  margin-right:20px;
}
.header-basket{
  padding-left:25px;
  background-repeat: no-repeat;
  color:#c1a900;
  text-decoration: none;
  font-size: 18px;
}
.header-menu{
  padding-left:25px;
  background-repeat: no-repeat;
  color:#c1a900;
  text-decoration: none;
  font-size: 18px;
}
.container{
  display: table;
  margin: 0 auto 20px;
  font-size: 23px;
}
.footer-phone{
  padding-left:25px;
  background-repeat: no-repeat;
  color:#5b5843;
  text-decoration: none;
}
.footer-email{
  padding-left:25px;
  background-repeat: no-repeat;
  color:#5b5843;
  text-decoration: none;
}
.full-description{
  color:#86aaaa;
  list-style-type:none;
  line-height:37px;
  font-family:sans-serif
}
.short-description{
  line-height:24px;
}
.specifications{
  background-image: url('../img/background2.jpg');
  background-size: 130% auto;
  color:#86aaaa;
  padding:15px;
}
